*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #92ca29b9;
}

.container{
    display: inline-block;
}

.col{
    display: inline-block;
    width: 300px;
    border: 1px solid transparent;
    border-radius: 20px;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(163, 222, 245);
    margin-left  : 69px;
    margin-top: 20px;
    position: relative;
}

.col h3{
    margin-left: 150px;
transform: translateY(-50px);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col img{
    align-items: center;
    margin-left: 10px;
transform: translateY(15px);

}